.navBar {
    display: flex;
	justify-content: flex-end;
	padding: 1%;
    background-color: #000000;
    color: white;
    text-align: center;
}

img {
    width: 7%;
}

.loginButton {
    margin: 1%;
	background-color:#44c767;
	border-radius: 100%;
	border:1px solid #18ab29;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:100%;
	text-decoration:none;
    margin-left:auto;
	text-shadow:0px 1px 0px #2f6627;
}
.loginButton:hover {
	background-color:#5cbf2a;
}
.loginButton:active {
	position:relative;
	top:1px;
}

.navBar {
	margin-left:auto;
	background-color: lightskyblue;
}

.login {
	padding: 1%;
}

.btn {
	background-color: white;
	color: black;
	font-size: 16px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

a {
	color: black;
	text-decoration: none;
}

a:visted {
	text-decoration: none;
	color: black;
}

.title {
	margin-right: 20%;
	color: white;
}


