.navBar {
    display: grid;
	place-items: center;
	grid-template-columns: 10% 30% 20% 15% 15% 10%;
	grid-template-rows: 100px;
	background-color: lightskyblue;
	color: white;
}

.navBar h1 {
	padding-left: 25%;
	padding-right: 25%;
}
.title {
	font-size: 2vw;
	width: 100%;
}


.loginButton:active {
	position:relative;
	top:1px;
}

.login {
	object-fit: contain;
	width: 50%;
	max-height: 50%;
}

.home {
	background-color: white;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	width: 40%;
	max-height: 60%;
}

a {
	color: black;
	text-decoration: none;
}

a:visted {
	text-decoration: none;
	color: black;
}


.logo {
	object-fit: contain;
	width: 70%;
	max-height: 70%;
}

.welcome {
	margin-left: 50%;
}

.home img{
	width: 100%;

}




