.row {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
	/*(background-image: url("https://i.pinimg.com/originals/d7/18/0c/d7180c9989c6caf0a4aca6038939f13e.jpg");*/
}

.link {
	text-decoration: none;
	color: white;
}

.bookmarkStack {
    text-align: center;
}


.bookmarkStack > img {
    width: 50%;
}

.bookmarkStack > .view {
	background-color:#44c767;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:100%;
	text-decoration:none;
    margin-bottom: 1.5%;
}


.bookmarkStack > h2 {
	color: rgb(89, 50, 50);
}

.remove {
    background-color:#cc2c2c;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:100%;
	text-decoration:none;
}
.message {
	margin-bottom: -2.3%;
	text-align: center;
	padding-bottom: 20%;
	background: url("https://i.pinimg.com/originals/d7/18/0c/d7180c9989c6caf0a4aca6038939f13e.jpg") no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.view > a {
	color: white;
}

.message h1{
	font-family: "Lucida Console", "Courier New", monospace;
	color: red;
}

.hi center {
	font-family: "Lucida Console", "Courier New", monospace;
	color: red;
}

.companyRow {
	display: flex;
}

.bookmark-container h1 {
	color: yellow;
	font-family: 'Times New Roman', Times, serif;
	margin: auto;
}

.bookmark-container {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0,0,0,0.4)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4QZXkg4-KtJdK02JcLcXIPunYMa0rDJ-RwQ&usqp=CAU");
    background-repeat: no-repeat;
    background-size: 100% 100%;	
}

.bookmarkStack h2 {
	color: white;
}