.row {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
	padding-bottom: 20%;
	background-image: url("https://i.pinimg.com/originals/d7/18/0c/d7180c9989c6caf0a4aca6038939f13e.jpg");
}

.link {
	text-decoration: none;
	color: white;
}

.bookmarkStack {
    text-align: center;
}


.bookmarkStack > img {
    width: 50%;
}

.bookmarkStack > .view {
	background-color:#44c767;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:100%;
	text-decoration:none;
    margin-bottom: 1.5%;
}


.bookmarkStack > h2 {
	color: rgb(89, 50, 50);
}

.remove {
    background-color:#cc2c2c;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:100%;
	text-decoration:none;
}
.message {
	text-align: center;
	padding-bottom: 20%;
	background: url("https://i.pinimg.com/originals/d7/18/0c/d7180c9989c6caf0a4aca6038939f13e.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.view > a {
	color: white;
}

.message h1{
	font-family: "Lucida Console", "Courier New", monospace;
	color: red;
}

.hi center {
	font-family: "Lucida Console", "Courier New", monospace;
	color: red;
}