.row {
    display: flex;
    justify-content: space-evenly;
}

.applyStack {
    text-align: center;
}

.link {
	text-decoration: none;
	color: white;
}


.applyStack > img {
    width: 50%;
}

.applyStack > .view {
	background-color:#44c767;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:100%;
	text-decoration:none;
    margin-bottom: 1.5%;
	font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  padding: 1.25rem 2.5rem;
  font-size: 1rem;
  border-radius: 3.5rem / 100%;
  position: relative;
  min-width: 15rem;
  max-width: 90vw;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition:0.5s;
}

.edit-item {
	margin: 1%
}

.bookmark {
	background-color:#a2ae19;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:100%;
	text-decoration:none;
    margin-bottom: 1.5%;
	font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  padding: 1.25rem 2.5rem;
  font-size: 1rem;
  border-radius: 3.5rem / 100%;
  position: relative;
  min-width: 15rem;
  max-width: 90vw;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition:0.5s;
}

.view > a {
	color: white;
	
}

.topRow {
	text-align: center;
}

.add {
	font-size: 100%;
	display:inline-block;
	color:#ffffff;
	font-size:100%;
	text-decoration:none;
	background-color: rgb(183, 50, 81);
	font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  padding: 1.25rem 2.5rem;
  font-size: 1rem;
  border-radius: 3.5rem / 100%;
  position: relative;
  min-width: 15rem;
  max-width: 90vw;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition:0.5s;
	
}

.add2 {
	color: white;
}

.edit {
	background-color: rgb(71, 195, 236);
	display:inline-block;
	color:#ffffff;
	font-size:100%;
	text-decoration:none;
    margin-bottom: 1.5%;
	font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  padding: 1.25rem 2.5rem;
  font-size: 1rem;
  border-radius: 3.5rem / 100%;
  position: relative;
  min-width: 15rem;
  max-width: 90vw;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition:0.5s;

}

.sector-title {
	text-align: center;
}

.add-company {
	text-align: center;
}

.add-company > button {
	width: 15%;
	background-color: rgb(178, 44, 44);
	text-align: center;
	color: white;
	font-size: 1vw;
}

.center {
	text-align: center;
}

.bookmark:hover {
	background-color: blue;
}

.view:hover {
	background-color: blue;
}

.edit:hover {
	background-color: blue;
}

