.company-name {
    width: 35%;
    border-color: black;
}

.parent > h1 {
    text-align: center;
}

.parent {
    margin-left: 1%;
}

.description {
    width: 35%;
    border-color: black;
}

.submit {
    width: 10%;
    padding: 1%;
    color: white;
    font-size: 1vw;
    background-color: rgb(55, 144, 216);
}

.submit2 {
    color: white;
    font-size: 1vw;
}

.go-back {
    padding: 1.5%;
    background-color: rgb(152, 149, 149);
    color: white;
    font-size: 1.5vw;
}
