.item {
    position: relative;
    text-align: center;
    background: rgb(255, 255, 255);
    /*border: 1px solid rgb(255, 0, 0);*/
    margin: 2%;
    width: 90%; 
    height: 90%; 
    /*border: 5px solid black;*/
  }

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
}

.industries {
    text-align: center;
    color: black;
}

.item .btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 3% 6%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.industriesImage {
    width: 100%;
    height: 100%;
    border-radius: 10%;      
    display: block;
}