.item {
    text-align: center;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(255, 0, 0);
    margin: 2%;
    padding: 30%;
  }

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}